---
layout: default
---

<div class="home_background">
</div>

<div class="home">

  <div class="section bunny-background my-2">
    <div class="center">
    <h1 class="text-white">Påskjakt i Långasand</h1>
    <h2 class="text-white">Långfredag till Annandag påsk</h2>
    <a href="/easter-hunt/">
      <button>
        Klicka här för att vara med!
      </button>
      </a>
    </div>
  </div>

  <h1 class="center pt-2">Välkomna till Soliga Långasand!</h1>
  <h2 class="center pt-1 px-1">Vi planerar för fullt årets aktiviteter, vissa traditioner behöver vi skjuta framför oss, andra kommer vi med varianter på så att vi kan få ett trevligt år tillsammans.</h2>
  <h2 class="center pt-1 px-1"> Precis som förra året så hoppas vi på förståelse för ev förändringar då vi följer de rekommendationer och råd som gäller för vår region.</h2>

  <div class="section">
      <div class="row">

        <!-- Activities -->
        <div class="col-lg-6 col-md-6 col-xs-12 text-center mb-4">
          <div class="card mb-4">
            <img class="card-img-top" src="assets/images/pic1.jpg" alt="Aktiviteter">
            <div class="card-body">
              <h2 class="card-title">Aktiviteter 2021</h2>
              <ul class="list-group no-bullet">
                {% assign sorted = site.activities | sort: 'when' %}
                {% for activity in sorted %}
                  {% if activity.visible != false %}
                  <li><a href="{{ activity.url }}">{{ activity.title }}</a> {{activity.when  | date: "%b %d" }} {{activity.end}} </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <!-- Breakfast meetings -->
        <div class="col-lg-6 col-md-6 col-xs-12 text-center mb-4">
          <div class="card mb-4">
            <img class="card-img-top" src="assets/images/pic2.jpg" alt="Aktiviteter">
            <div class="card-body">
              <h2 class="card-title">Frukostföreläsningar</h2>
              <p class="px-1">
                Beslut kring genomförande av fruktostföreläsningar kommer under våren!
              </p>
              <p class="px-1">
                Vill du presentera det du jobbar med, eller brinner för, hör av dig på mail till Thérèse Troedsson:
                <a href="mailto:ordforande@langasand.se?Subject=Anmälan%20frukostföreläsning" target="_top">ordforande@langasand.se</a>
              </p>
              <!--
              <ul class="list-group no-bullet">
                {% assign sorted = site.breakfast_meetings | sort: 'when' %}
                {% for meeting in sorted %}
                  {% if meeting.visible != false %}
                  <li><a href="{{ meeting.url }}">{{ meeting.title }}</a> {{meeting.when  | date: "%b %d" }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            -->
            </div>
          </div>
        </div>

        <!-- Informations -->
        <div class="col-lg-6 col-md-6 col-xs-12 text-center mb-4">
            <div class="card mb-4">
              <img class="card-img-top" src="assets/images/pic3.jpg" alt="Information">
              <div class="card-body">
                <h2 class="card-title">Information</h2>
                <ul class="list-group list-group-flush no-bullet">
                    {% for article in site.informations %}
                    <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                    <!-- Links to collaboration orgs. -->
                    <li><a href="http://www.langasandsif.com/">Långasands Idrottsförening</a></li>
                    <li><a href="http://www.vagforening.com/ullarp-skallentorp">Ullarp-Skällentorp Vägförening</a></li>
                    <li><a href="http://www.samfallighet.com/langasand">Långasands Samfällighetsförening</a></li>
                    <li><a href="https://www.ugglarpsbyalag.se/">Ugglarps Byalag</a></li>

                </ul>
              </div>
            </div>
          </div>

          <!-- Organisation -->
          <div class="col-lg-6 col-md-6 col-xs-12 text-center mb-4">
              <div class="card mb-4">
                <img class="card-img-top" src="assets/images/pic4.jpg" alt="Föreningen">
                <div class="card-body">
                  <h2 class="card-title">Föreningen</h2>
                  <ul class="list-group list-group-flush no-bullet">
                    {% for article in site.organisation %}
                    <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

            <!-- Trails -->
        <div class="col-lg-6 col-md-6 col-xs-12 text-center mb-4">
          <div class="card mb-4">
            <img class="card-photo-top" src="assets/images/klovastigen.jpg" alt="vandringsstigar">
            <div class="card-body">
              <h2 class="card-title">Promenad och vandringsstigar</h2>
              <ul class="list-group list-group-flush no-bullet">
                {% for article in site.trails %}
                <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                {% endfor %}
              </ul>
              <ul class="list-group list-group-flush no-bullet">
                <li class="italic">Tipsa gärna oss gärna om din favoritstig!</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>
