---
layout: default
---

<div class="home_background">
</div>

<div class="home">


  <div class="section blue-background my-2">
    <h1 class="center pt-1 text-white">>>COVID-19<<</h1>
    <h1 class="center text-white">Hjälp med inköp eller ärende?</h1>
    <h3 class="px-1 pt-1 text-white">Är du 70+ eller i riskgrupp så hjälper vi gärna till med t.ex. handla mat eller hämta ut medicin!</h3>
    <h3 class="px-1 text-white">Ring eller sms:a Carl Tönsgård på 0703-140105.</h3>
    <br>
    <p class="px-1 right italic text-white">Om du vill hjälpa till, hör gärna av dig!</p>
  </div>

  <h1 class="center pt-2">Välkomna till Soliga Långasand!</h1>
  <h2 class="center pt-1">I år planerar vi en härlig blandning av klassiker som Midsommar, Valborg och Sandbyggartävling och fortsätter med 
    förra årets populära frukostföreläsningar. Några nya koncept är dessutom på ingång och presenteras inom kort!</h2>
    <h3 class="center pt-1 text-blue">Vi i styrelsen följer utvecklingen av COVID-19 och coronaviruset och kommer självklart anpassa årets aktiviteter baserat på myndigheternas rekommendationer.</h3>

  <div class="section">
      <div class="row">

        <!-- Activities -->
        <div class="col-lg-6 col-md-6 col-xs-12 text-center mb-4">
          <div class="card mb-4">
            <img class="card-img-top" src="assets/images/pic1.jpg" alt="Aktiviteter">
            <div class="card-body">
              <h2 class="card-title">Aktiviteter</h2>
              <ul class="list-group no-bullet">
                {% assign sorted = site.activities | sort: 'when' %}
                {% for activity in sorted %} 
                  {% if activity.visible != false %}
                  <li><a href="{{ activity.url }}">{{ activity.title }}</a> {{activity.when  | date: "%b %d" }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <!-- Breakfast meetings -->
        <div class="col-lg-6 col-md-6 col-xs-12 text-center mb-4">
          <div class="card mb-4">
            <img class="card-img-top" src="assets/images/pic2.jpg" alt="Aktiviteter">
            <div class="card-body">
              <h2 class="card-title">Frukostföreläsningar</h2>
              <p class="px-1">
                Schema för årets frukostföreläsningar är på gång!
              </p>
              <p class="px-1">
                Vill du presentera det du jobbar med, eller brinner för, hör av dig på mail till Thérèse Throedsson: 
                <a href="mailto:ordforande@langasand.se?Subject=Anmälan%20frukostföreläsning" target="_top">ordforande@langasand.se</a>
              </p>
              <!--
              <ul class="list-group no-bullet">
                {% assign sorted = site.breakfast_meetings | sort: 'when' %}
                {% for meeting in sorted %} 
                  {% if meeting.visible != false %}
                  <li><a href="{{ meeting.url }}">{{ meeting.title }}</a> {{meeting.when  | date: "%b %d" }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            -->
            </div>
          </div>
        </div>

        <!-- Informations -->
        <div class="col-lg-6 col-md-6 col-xs-12 text-center mb-4">
            <div class="card mb-4">
              <img class="card-img-top" src="assets/images/pic3.jpg" alt="Information">
              <div class="card-body">
                <h2 class="card-title">Information</h2>
                <ul class="list-group list-group-flush no-bullet">
                    {% for article in site.informations %}
                    <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                    <!-- Links to collaboration orgs. -->
                    <li><a href="http://www.langasandsif.com/">Långasands idrottsförening</a></li>
                    <li><a href="http://www.vagforening.com/ullarp-skallentorp">Ullarp-Skällentorp Vägförening</a></li>
                    <li><a href="http://www.samfallighet.com/langasand">Långasands Samfällighetsförening</a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Organisation -->
          <div class="col-lg-6 col-md-6 col-xs-12 text-center mb-4">
              <div class="card mb-4">
                <img class="card-img-top" src="assets/images/pic4.jpg" alt="Föreningen">
                <div class="card-body">
                  <h2 class="card-title">Föreningen</h2>
                  <ul class="list-group list-group-flush no-bullet">
                    {% for article in site.organisation %}
                    <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

      </div>
  </div>
</div>
